body{
    background-color: #78CCCB;
    display: flex;
    flex-direction: column;
}
#sketch{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-top: 12px;
    margin-left: 100px;
    background-color: #FF5E5B;
    border-radius: 12px;
}
#lg{
    width: 200px;
    height: 80px;
    margin-top: 10px;
    border-radius: 12px;
}
.tools{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
}
.conteiner{
    margin: 25px;
    width: 700px;
    height: 700px;
    display: grid;
    justify-content: center;
}
.back_cont{
    align-self: center;
    justify-self: center;
    margin:0;
    border-radius: 20px;
    background-color:#bfbfbf;
    width: 1120px;
    height: 600px;
}
.selc{
    background-color: #78CCCB;
    width: 120px;
    height: 50px;
    padding: 5px;
    color: white;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
}
.colselc{
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
    border-radius: 50%;
    background-color: #78CCCB;
    justify-content: center;
}
#colorpicker{
    background-color: #78CCCB;
    border: 0px;
    border-radius: 50%;
}
.indent{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    font-size: 20px;
}