body{
    background-color: blanchedalmond;
    margin: 0px;
}
.sketch{
    display: flex;
    flex-direction: row;
    margin-top: 36px;
    justify-content: center;
    gap: 20px;
}
.toolbar{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 10px;
}
:root{
    --grid-cols: 1;
    --grid-rows: 1;
}
  
#container{
    margin: 25px;
    width: 700px;
    height: 700px;
    display: grid;
    justify-content: center;
}
  
.grid-item{
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
}
  
img{
    align-self: center;
    margin-top: 20px;
    max-width: 150px;
    height: auto;
}
  
#container-back{
    align-self: center;
    justify-self: center;
    margin:0;
    border-radius: 30px;
    background-color:#F16767;
}
  
input{
    max-width: 400px;
}
  